
.barra {
    flex: 1 1 auto;
    background-color: rgba(193, 196, 196, 0.895);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .barraElemento {
    display: flex;
    padding: 10px;
  }
  
  .barraElemento:hover{
    cursor: pointer;
    color: grey;
    user-select: none;
  }