

.fondo {
    display: flex;
    align-items: center;
    margin-top: 15% ;
    flex-direction: column;
}

.general{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.boton {
    display: flex;
    align-items: center;
    margin-top: 5% ;
    flex-direction: column;
    
}



.tarjeta {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.personaje {
    display: flex;
    height: 300px;
    width: 200px;
    justify-content: center;
    align-items: center;
}

.next {
    background-color: black;
    border-radius: 10px;
    color: white;
    width: 220px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid white;
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    user-select: none;
}

.next:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(53, 53, 53);
    border-color: rgb(0, 0, 0);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.animacion1{
    height: 128px;
    width: 128px;
    position: absolute;
    background-image: url(Homeless1.png);
    animation: blink_homeless1 0.4s steps(11) infinite, movimiento 25s infinite;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}

@keyframes blink_homeless1 {
    0% {background-position: 0px;}
    100%{background-position: 1408px;}
}

.animacion2{
    height: 128px;
    width: 128px;
    position: absolute;
    background-image: url(Homeless2.png);
    animation: blink_homeless2 1.5s steps(8) infinite, movimiento 25s infinite;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

@keyframes blink_homeless2 {
    0% {background-position: 1024px;}
    100%{background-position: 0px;}
}

.animacion3{
    height: 128px;
    width: 128px;
    position: absolute;
    background-image: url(Homeless3.png);
    animation: blink_homeless3 2s steps(11) infinite, movimiento 25s infinite;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

@keyframes blink_homeless3 {
    0% {background-position: 0px;}
    100%{background-position: 1408px;}
}

