.seleccion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.imagen_container {
  width: calc(25% - 10px);
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: background 0.3s ease-in-out;
  border: 2px solid #ccc;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.imagen_container:hover .imagen {
  opacity: 0;
}
